name: Py[Lint,Test]

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Analysing the code with pylint
      run: |
        pylint --disable=missing-module-docstring $(ls ./day_0\{1..1\}/puzzle*/*.py)
        pylint --disable=missing-module-docstring,missing-function-docstring $(ls ./day_0\{1..1\}/tests/*.py)
    - name: Running pytest
      run: |
        pytest
